/* Здесь вы напишете основную часть стилей страницы.
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" var(--font-weight-text, 400);
  background-image: var(--gradient-background);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
  inline-size: var(--inline-size);
  background-color: #ffffff;
  border: 2px solid #000000;
  text-align: center;
  font-family: var(--accent-font, sans-serif);
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  padding: clamp(120px, calc(108.769px + 2.460vw), 130px) clamp(16px, calc(-106.308px + 32.615vw), 122px);
  margin-block-start: 100px;
  margin-block-end: 98px; /*тут*/
  position: relative; /* Поверх оверлея */
  z-index: 1;
}

.title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
}

.subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: relative;
  z-index: 1;
  padding-block-end: 102px;
}

/*секция*/
.cards {
  inline-size: 100%;
  font-family: var(--main-font);
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
}

/*карточка*/
.card {
  background-color: #ffffff;
  inline-size: var(--inline-size);
  border: 2px solid #000000;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr;
}

.card__title {
  font-variation-settings: "wght" 715;
  line-height: 22px;
  font-size: 18px;
  margin: 4px 10px;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  aspect-ratio: 1 / 1;
}

.card__image-container {
  position: relative;
}

.card__image-label {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 25px;
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--stroke-color)) or
    (-webkit-text-stroke: 1px var(--stroke-color))
) {
  .card__image-label {
    color: transparent;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

@supports not (-webkit-text-stroke: 1px var(--stroke-color)) {
  .card__image-label {
    color: #000000;
    text-shadow:
      -1px -1px 0 var(--stroke-color),
      1px -1px 0 var(--stroke-color),
      -1px 1px 0 var(--stroke-color),
      1px 1px 0 var(--stroke-color),
      0 0 2px var(--stroke-color);
  }
}

.card__description {
  line-height: 21px;
  margin-inline: 25px;
  margin-block-start: 25px;
  margin-block-end: 25px;
}

.card__placeholder {
  margin: 0 25px 25px 25px;
  line-height: 21px;
}

/*кнопки*/
.card__buttons {
  display: flex;
  margin-inline: 25px;
  margin-block-end: 25px;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.card__icon-button {
  inline-size: fit-content;
  background: transparent;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  outline: none;
  padding: 0;
  max-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__icon-button .like-icon {
  display: block;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color, #000000);
}

.card__icon-button:focus {
  outline: none;
}

.card__like-button {
  border: 2px solid #000000;
  padding: 10px 35px;
  background: transparent;
  cursor: pointer;
  font-family: var(--accent-font);
  font-size: 14px;
  max-inline-size: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*сохранить на память*/

.memory-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 18px;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid var(--accent-color, #000000);
}

.icon use,
.dialog-icon use {
  color: #000000;
}

.memory-button .icon {
  inline-size: 21px;
  block-size: 21px;
  color: #000000;/* Черный цвет по умолчанию */
  position: relative;
  z-index: 1;
  mix-blend-mode: normal;
}


@media (width <= 375px) {
  .memory-button .icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .memory-button {
    flex-direction: column;
  }
}

/*Диалоговое окно*/
.memory-dialog {
  display: none;
  border: 2px solid #000000;
  background-color: #ffffff;
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-size: 14px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: 30px 20px;
  align-items: center;
  padding: 29px;
}

.memory-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.page:has(.memory-dialog[open])::after {
  display: none;
}

.memory-dialog[open] {
  position: fixed;
  display: grid;
  inset: 0;
  margin: auto;
}

.dialog-icon {
  width: 39px;
  height: 39px;
  grid-row: 1;
  grid-column: 1;
  color: #000000;
}

.dialog-text {
  white-space: pre-line;
  grid-row: 1;
  grid-column: 2;
  line-height: 1.5;
  font-size: 14px;
}

.memory-dialog[open] form {
  grid-row: 2;
  grid-column: 1 / -1;
  justify-self: stretch;
}

.dialog-button {
  background-color: transparent;
  border: 2px solid #000000;
  padding: 9px 130px;
  text-transform: uppercase;
}

/*фильтры*/
.filter-contrast-low {
  filter: contrast(20%);
}

.filter-hue-dim {
  filter: hue-rotate(-10deg) contrast(1) brightness(0.7);
}

.filter-vibrant {
  filter: contrast(1.5) saturate(1.15) brightness(1);
}

.filter-warm {
  filter: sepia(0.3) brightness(1.05) saturate(1.1);
}

.filter-alternative {
  filter: grayscale(0.6) brightness(0.85) contrast(1.2) blur(0.5px);
}

.filter-blur-heavy {
  filter: blur(5px);
}

.filter-super-vibrant {
  filter: saturate(1.4) brightness(1.5) contrast(1.15);
}

/* Основные стили для всех трех кнопок */
.button {
  position: relative;
  background-color: var(--button-bg, #ffffff);
  color: var(--text-color, #ffffff);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--accent-color, #000000);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
}

.button:focus{
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color, #000000);
}

.button:hover::after {
  transform: scaleX(1);
}

.button .button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}